<nav class="navbar navbar-expand-lg bg-dark sticky-top">

  <div class="container">

    <a class="navbar-brand" href="{{ site.url }}"><img src="{{ "/assets/images/reddcoin.svg" | relative_url }}" height="50" class="d-inline-block align-top" alt="Reddcoin"></a>

    <button class="navbar-toggler text-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="#wallet">Wallet</a>
        <a class="nav-item nav-link" href="https://github.com/reddcoin-project" target="_blank">GitHub</a>
        <a class="nav-item nav-link" href="#">Forum</a>
        <a class="nav-item nav-link" href="https://live.reddcoin.com/">Explorer</a>
        <a class="nav-item nav-link" href="https://wiki.reddcoin.com/index.php/Main_Page">Wiki</a>
      </div>
    </div>
  </div>
</nav>
