<ul class="list-group list-footer">
  <li><a href="https://twitter.com/reddcoin" target="_blank"><i class="fab fa-twitter"></i> Twitter</a></li>
  <li><a href="https://www.facebook.com/reddcoin" target="_blank"><i class="fab fa-facebook-f"></i> Facebook</a></li>
  <li><a href="https://www.reddit.com/r/reddCoin/" target="_blank"><i class="fab fa-reddit-alien"></i> Reddit</a></li>
  <li><a href="https://t.me/ReddcoinOfficial" target="_blank"><i class="fab fa-telegram-plane"></i> Telegram</a></li>
  <li><a href="https://github.com/reddcoin-project" target="_blank"><i class="fab fa-github"></i> GitHub</a></li>
</ul>
