<button type="button" class="btn btn-outline-primary btn-lg" style="color: #FAFAFA" data-toggle="modal" data-target="#videoModal"><i class="fas fa-play"></i> Watch Video</button>
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <iframe width="765" height="430" src="https://www.youtube.com/embed/KlYJ0sNVVpg?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
