// Custom variables from Bootstrap go here.

$body-bg: #151F3A;
$body-color: #FAFAFA;
$jumbotron-bg: $body-bg;
$primary: #ED1C24;
$link-hover-color: #ED1C24;
$link-hover-decoration: none;
$dark: #151F3A;
$modal-content-bg: #000;
$btn-border-radius: 1.5rem;
$btn-border-radius-sm: 1.5rem;
$btn-border-radius-lg: 1.5rem;
$card-border-color: #FFF;
$card-bg: transparent;
$light: #FAFAFA;
$btn-padding-y: .5rem;
$btn-padding-x: 3rem;
$border-width: 2px;
$border-radius: 1.5rem;
$card-deck-margin: 3rem;
