---
---

@import "variables";
@import "bootstrap/bootstrap";

.nav-item.nav-link {
  border-bottom: 1px transparent solid;
  color: #FAFAFA;
  &:hover {
    color: $link-hover-color;
    border-bottom: 1px $link-hover-color solid;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
  }
}

#color-samples-container{
  font-size:15px;
  .color-preview{
    border-radius: 10px;
    width: 20px;
    height: 78px;
    float: left;
    margin-right: 10px;
    margin-top: 6px
  }
  .color-codes{
    tr,td{
      font-weight: bold;
      padding: 0px;
    }
    td.value{
      padding-left: 20px;
    }
  }
}

.getRedcoin {
  .list-group {
    max-width: 400px;
    margin: 0 auto;
  }
}

.card-icon {
  font-size: 8rem;
  color: $primary;
}

footer {
  a {
    color: #FAFAFA;
  }
  .list-footer {
    list-style: none;
  }
}
