---
layout: default
---
<article>

  <header>
    <h1>{{ page.title | escape }}</h1>
  </header>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">

      <h1 class="display-4">What is Reddcoin</h1>
      <p class="lead">Reddcoin is the social currency that enriches people’s social lives and makes digital currency easy for the general public. Reddcoin achieves this by integrating a digital currency platform seamlessly with all major social networks to make the process of sending and receiving money fun and rewarding for everyone.</p>

      {% include video.html %}

    </div>
  </div>

  <div class="p-5 bg-light text-dark getRedcoin" id="wallet">
    <div class="container">
      <h1 class="display-4 text-center">Get Reddcoin Wallet</h1>
      <p class="lead text-center">Reddcoin Core 2.0.1.2</p>
      <div class="list-group text-center">

        <a href="https://github.com/reddcoin-project/reddcoin/releases/download/v2.0.1.2/reddcoin-2.0.1-win64-setup.exe" class="list-group-item list-group-item-action"><i class="fab fa-windows"></i> Windows 64</li>
        </a>

        <a href="https://github.com/reddcoin-project/reddcoin/releases/download/v2.0.1.2/reddcoin-2.0.1-win32-setup.exe" class="list-group-item list-group-item-action"><i class="fab fa-windows"></i> Windows 32</a>

        <a href="https://github.com/reddcoin-project/reddcoin/releases/download/v2.0.1.2/reddcoin-2.0.1.2-osx.dmg" class="list-group-item list-group-item-action"><i class="fab fa-apple"></i> macOS</a>

        <a href="https://github.com/reddcoin-project/reddcoin/releases/download/v2.0.1.2/reddcoin-2.0.1.2-linux.tar.gz" class="list-group-item list-group-item-action"><i class="fab fa-linux"></i> Linux</a>

        <a href="https://github.com/reddcoin-project/reddcoin" target="_blank" class="list-group-item list-group-item-action"><i class="fas fa-code"></i> Source Code</a>

      </div>
    </div>
  </div>

  <div class="p-5 bg-dark container featuresRedcoin" id="features">
    <h1 class="m-5 text-center text-light">Features</h1>
    <div class="card-deck text-light">
      <div class="card">
        <img class="card-img-top" src="https://via.placeholder.com/500x300" alt="">
        <div class="card-body">
          <h5 class="card-title text-center">Proof of Stake Velocity</h5>
          <p class="card-text">Reddcoin Proof of Stake Velocity is an innovative algorithm that encourages both ownership (Stake) and activity (Velocity). PoSV solves issues in traditional PoW & PoS algorithms and eliminate wasteful consumption of electricity for mining.</p>
          <a href="https://reddcoin.com/papers/PoSV_FAQ.pdf" target="_blank"><button type="button" class="btn btn-outline-primary">Learn more</button>
        </div></a>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://via.placeholder.com/500x300" alt="">
        <div class="card-body">
          <h5 class="card-title text-center">Tip Platform</h5>
          <p class="card-text">Reddcoin decentralized Tip Platform allows people to seamlessly send & receive digital currency on Social Networks to anyone in the world & to support content creators through micro-donations.</p>
          <button type="button" class="btn btn-outline-primary">Learn more</button>
        </div>
      </div>
    </div>
    <div class="card-deck text-light mt-4">
      <div class="card">
        <img class="card-img-top" src="https://via.placeholder.com/500x300" alt="">
        <div class="card-body">
          <h5 class="card-title text-center">Redd-ID</h5>
          <p class="card-text">Reddcoin Redd-ID is a unique service provided at the blockchain level which allows a user to associate a username with rich information including public keys and social network identities..</p>
          <button type="button" class="btn btn-outline-primary">Learn more</button>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://via.placeholder.com/500x300" alt="">
        <div class="card-body">
          <h5 class="card-title text-center">ReddWallet</h5>
          <p class="card-text">Reddcoin ReddWallet is a State-of-the-art wallet that provides various social features to increase engagement among users which improves security of the decentralized network.</p>
          <button type="button" class="btn btn-outline-primary">Learn more</button>
        </div>
      </div>
  </div>

</article>
